.diviframe {
    position: absolute;
    width: 100%;
    bottom: 50px;
    top: 0px;
}
iframe {
    height: 100%;
    border: none;
    width: 100%;
}
.selectcon {
    position: absolute;
    z-index: 999;
    font-size: 12px;
    padding-left: 11px;
    margin-top: 4px;
}
.selectroom {
    border-bottom: solid 1px #c2634f;
    border-radius: 30px;
    color: #fff;
    display: block;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
    background-color: rgba(49, 44, 44, 0.83);
}
.selectroomend {
    border-bottom: solid 1px #c2634f;
    border-radius: 30px;
    color: #fff;
    display: block;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #1c93fa;
    margin-top: 8px;
}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__icon {
    background-position-y: 0px !important;
}
.menin {
    background-position-y: 0px !important;
}
.menindex {
    background-image: url(../images/img/menu.png);
    background-position-x: 0px;
    background-position-y: -30px;
    background-size: 5300%;
}
.menhousetype {
    background-image: url(../images/img/menu.png);
    background-position-x: -94px;
    background-position-y: -30px;
    background-size: 5300%;
}
.menprototyperoom {
    background-image: url(../images/img/menu.png);
    background-position-x: -886px;
    background-position-y: -30px;
    background-size: 5300%;
}
.menzonebit {
    background-image: url(../images/img/menu.png);
    background-position-x: -47px;
    background-position-y: -30px;
    background-size: 5300%;
}
.swiper-container {
    width: 100%;
    
}
#quwei{
}
.swiper-container.swiper-container-quwei{
    background: url(../images/img/QW/bg.png) center -50px/100% no-repeat;
}

    .swiper-container img {
        display: block;
        width: 100%;
    }


.selectqwcon {
    position: absolute;
    z-index: 999;
    font-size: 12px;
    padding-left: 11px;
    margin-top: -16px;
    transform: rotate(90deg);
    right: 30px;
}
.selectqw {
    height: 33px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 16px;
}

.selectqwend {
    height: 33px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 16px;
}
.mask{
    width:100%;
    overflow: auto;
}
.showMask .mask{
    z-index: 1000;
    background: rgba(0,0,0,0.8);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
}
.showMask .mask>img{
    position: absolute;
    top:50%;
    width: 100%;
    height: auto;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin-top: 0;
}
.mask>img{
    width:100%
}
.weui-photo-browser-modal{
    z-index: 100;
}